h1 {
  Color: #005932;
  text-align: center;
  font-family: sans-serif;
}

h2 {
  color: #59000b;
  font-style: bold;
  font-family: sans-serif;
}

h3 {
  font-style: italic;
  font-family: sans-serif;
}

p {
  font-family: 'Courier New';
}